html {
  scroll-behavior: smooth !important;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  height: 40px;
}

::-webkit-scrollbar-thumb {
  background: #0046f4;
}
