.main {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.main_mobile {
  display: none;
}

.page_container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding-bottom: 30px;
}

.welcome_section {
  width: 100%;
  min-height: 80vh;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.welcome_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;

  border-radius: 20px;
  margin-bottom: 20px;
}

.bif_font {
  font-size: 26px;
  color: #000c29;
  font-weight: 700;
}

.left_part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our_services {
  width: 100%;
  z-index: 2;
  height: 200px;
  background-color: #000c29;
  left: 0;
  border-radius: 20px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blue_font {
  color: #0046f4;
}

.service_btn {
  width: 16%;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_btn:hover {
  height: 52px;
  transition: 0.2s;
  background-color: #0046f4;
  color: white;
}

.right_part {
  width: 50%;
  height: 100%;
  position: relative;
}

.car_background {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: #0046f4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
  right: 0;
}

.main_car {
  position: absolute;
  width: 95%;
  bottom: 30px;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.approv_besh {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
}

.main_title {
  font-size: 54px;
  width: 80%;
  font-weight: 600;
  padding-top: 50px;
  color: #000c29;
  padding-left: 30px;
}

.description_offer {
  color: #c4c4c4;
  font-size: 18px;
  width: 70%;
  padding-left: 30px;
  padding-bottom: 30px;
}

.our_services_btns_cont {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service_btn_new {
  width: 18%;
  height: 80px;
  border-radius: 10px;
  border: #878484 2px solid;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #878484;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.big_svg svg {
  width: 80px;
  height: 80px;
  color: #000c29;
}

.medium_svg svg {
  width: 50px;
  height: 50px;
  color: #000c29;
}

.small_svg svg {
  width: 35px;
  height: 35px;
  color: #000c29;
}

.service_btn_new:hover {
  border: #0046f4 2px solid;
  color: #0046f4;
}

.header_cont {
  width: 75%;
  display: flex;
  height: 120px;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.link_container {
  margin-bottom: 28px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.link_container a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  gap: 3px;
  align-items: center;
}

.link_container div {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  gap: 3px;
  align-items: center;
}

.link_container a:hover {
  color: #0046f4;
  transition: 0.2s;
}

.link_container div:hover {
  color: #0046f4;
  transition: 0.2s;
}

.services_link_cont {
  position: relative;
  cursor: pointer;
}

.list_services {
  position: absolute;
  overflow: hidden;
  max-height: 0px;
  top: 20px;
  width: 180px;
  background-color: red;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
}

.services_link_cont:hover .list_services {
  transition: max-height 0.2s ease-in;
  top: 20px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
}

.footer_cont {
  width: 100%;
  height: 200px;
  background-color: #0046f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_wrap {
  width: 85%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_row {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 5px;
}

.logo_footer {
  max-width: 90%;
}

.logo {
  width: 300px;
  height: 175px;
}

.choose_option {
  color: #c4c4c4;
  width: 50%;
  font-size: 22px;
  font-weight: 700;
  transition: 0.1s;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 30px;
  padding-bottom: 30px;
  color: rgba(128, 128, 128, 1);
}

.choose_option svg {
  color: #0046f4;
  height: 40px;
  width: 40px;
}

.choose_option:hover {
  color: #0046f4;
  transition: 0.1s;
}

.service_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  min-height: 80vh;
  margin-top: 50px;
}

.service_section h2 {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.service_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.service_box {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service_description_cont {
  max-width: 80%;
  line-height: 28px;
  flex-grow: 1;
  background-color: #e4e8f2;
  padding: 20px;
  display: flex;
  border-radius: 3px;
  font-size: 18px;
}

.leave_req_btn {
  padding-left: 20px;
  padding-right: 20px;
  width: max-content;
  height: 45px;
  border: 2px solid #0046f4;
  color: #0046f4;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.leave_req_btn:hover {
  background-color: #0046f4;
  color: white;
  transition: 0.2s;
}

.title_description {
  font-size: 20px;
  font-weight: 600;
}

.image_container {
  width: 40%;
  padding: 30px;
}

.service_image {
  max-width: 100%;
  border-radius: 15px;
}

.devider {
  width: 100%;
  height: 100px;
  background-color: #0046f4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.devider_small {
  width: 100%;
  height: 100px;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

._props_blue {
  color: #0046f4;
  font-size: 26px;
  font-weight: 500;
}

.devide_line_blue {
  border-right: #0046f4 2px solid;
  height: 50px;
}

._props {
  color: white;
  font-size: 26px;
  font-weight: 500;
}

.devide_line {
  border-right: white 2px solid;
  height: 50px;
}

.dialog {
  width: 500px;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.close_cont {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10000000;
}

.close_cont svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo_form {
  height: 100px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.label_and_input_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label_and_input_box label {
  font-weight: 700;
}

.input_form {
  height: 40px;
  text-indent: 10px;
  font-size: 18px;
}

.input_form:focus {
  outline: none;
}

.text_area_form {
  height: 70px;
  text-indent: 10px;
  padding-top: 5px;
}

.text_area_form:focus {
  outline: none;
  font-size: 18px;
}

.send_btn {
  height: 50px;
  border-radius: 30px;
  background-color: #0046f4;
  color: white;
  font-size: 22px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_section_cont {
  width: 75%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgba(211, 211, 211, 1) solid 1px;
}

.service_section_cont_reverse {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgba(211, 211, 211, 1) solid 1px;
}

.service_left {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  height: 100%;
  justify-content: flex-start;
  gap: 50px;
}

.image_service {
  width: 100%;
  border-radius: 20px;
}

.title_service {
  width: 100%;
  font-size: 45px;
}

.service_right {
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 30px;
}

.service_title_descr {
  margin-top: 53px;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 700px;
}

.service_description {
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  width: 97%;
}

.leave_request_btn {
  width: 253px;
  height: 59px;
  border-radius: 40px;
  background-color: rgba(15, 77, 235, 1);
  color: white;
  border: none;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.prons_cont {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pron {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
  font-weight: 700;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: block;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.result_tittle {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: #0046f4;
  text-align: center;
}

.result_error_tittle {
  position: absolute;
  bottom: 20px;
  font-size: 18px;
  color: red;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.about_descr_cont {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_us_cont {
  height: 100%;
  width: 75%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about_title {
  color: #0046f4;
  margin-bottom: 0px;
}

.image_about {
  width: 100%;
  border-radius: 20px;
}

.tel_btn {
  background-color: #0046f4;
  height: 59px;
  width: 80%;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  gap: 15px;
  cursor: pointer;
}

.tel_btn svg {
  width: 25px;
  height: 25px;
}

.contacts_cont {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.contact svg {
  width: 25px;
  height: 25px;
}

.reviews_cont {
  display: flex;
  gap: 1px;
  padding-left: 30px;
  align-items: flex-end;
  text-indent: 10px;
  font-size: 19px;
  font-weight: 400;
  cursor: pointer;
  color: #878484;
}

.reviews_cont svg {
  width: 35px;
  height: 35px;
}

@media (max-width: 700px) {
  .main {
    display: none;
  }

  .main_mobile {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .header_cont_mobile {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
  }

  .logo_mobile {
    width: 80%;
  }

  .slogon {
    position: absolute;
    bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #000c29;
  }

  .phone_header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border: #0046f4 1px solid;
    padding: 10px;
    border-radius: 30px;
  }

  .menu_header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    border: #000c29 1px solid;
    padding: 10px;
    border-radius: 30px;
  }

  .first_section_cont {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page_container_mobile {
    width: 100%;
    height: 250px;
    background-color: #0046f4;
    position: relative;
  }

  .main_car {
    width: 80%;
  }

  .stars {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stars svg {
    width: 40px;
    height: 40px;
  }

  .review_mark {
    padding-left: 10px;
    font-weight: 700;
    font-size: 30px;
  }

  .in_stock_btn {
    width: 80%;
    height: 59px;
    background-color: #0046f4;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .table_services {
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 20px;
  }

  .reviews_descr {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .services_list {
    padding-top: 20px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #000c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .service_btn_mobile {
    width: 100%;
    height: 75px;
    background-color: white;
    border: none;
    color: #000c29;
    font-size: 20px;
    border-radius: 5px;
  }

  .title_service {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }

  .service_mobile_cont {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title_service_mobile {
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    font-weight: 700;
    margin-top: 20px;
  }

  .image_mobile {
    width: 50%;
    border-radius: 20px;
  }
}
