.main {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
}

.page_container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding-bottom: 30px;
}

.welcome_section {
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  position: relative;
}

.left_part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.our_services {
  width: 80%;
  position: absolute;
  height: 150px;
  background-color: #000c29;
  left: 0;
  border-radius: 20px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blue_font {
  color: #0046f4;
}

.service_btn {
  width: 20%;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 15px;
  font-size: 18px;
  border: none;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_btn:hover {
  height: 52px;
  transition: 0.2s;
  background-color: #0046f4;
  color: white;
}

.right_part {
  width: 50%;
  height: 100%;
  position: relative;
}

.car_background {
  position: absolute;
  width: 70%;
  height: 510px;
  background-color: #dddddd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
  right: 0;
}

.main_car {
  position: absolute;
  width: 80%;
  top: 20px;
  right: 50px;
}

.main_title {
  font-size: 54px;
  width: 80%;
  font-weight: 600;
  padding-top: 50px;
}

.header_cont {
  width: 85%;
  display: flex;
  height: 120px;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;
}

.link_container {
  padding-bottom: 28px;
  display: flex;
  gap: 18px;
  align-items: center;
}

.link_container a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 600;
  transition: 0.2s;
  display: flex;
  gap: 3px;
  align-items: center;
}

.link_container a:hover {
  color: #0046f4;
  transition: 0.2s;
}

.footer_cont {
  width: 100%;
  height: 200px;
  background-color: #0046f4;
}

.logo {
  width: 300px;
  height: 175px;
}

.choose_option {
  color: grey;
  margin-top: 100px;
  font-size: 22px;
  font-weight: 500;
  transition: 0.1s;
  cursor: pointer;
  font-weight: 600;
}

.choose_option:hover {
  color: #0046f4;
  transition: 0.1s;
}

.service_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-top: 50px;
}

.service_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.service_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service_description_cont {
  max-width: 80%;
  line-height: 25px;
  height: 100%;
  flex-grow: 1;
  background-color: #e4e8f2;
  padding: 20px;
  display: flex;
  border-radius: 3px;
}

.leave_req_btn {
  padding-left: 15px;
  padding-right: 15px;
  width: max-content;
  height: 40px;
  border: 2px solid #0046f4;
  color: #0046f4;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
}

.title_description {
  font-size: 20px;
  font-weight: 600;
}

.image_container {
  width: 40%;
  padding: 30px;
}

.service_image {
  max-width: 100%;
  border-radius: 15px;
}

.devider {
  width: 100%;
  height: 150px;
  background-color: #0046f4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.devider_small {
  width: 100%;
  height: 150px;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

._props_blue {
  color: #0046f4;
  font-size: 26px;
  font-weight: 500;
}

.devide_line_blue {
  border-right: #0046f4 2px solid;
  height: 75px;
}

._props {
  color: white;
  font-size: 26px;
  font-weight: 500;
}

.devide_line {
  border-right: white 2px solid;
  height: 75px;
}
